# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<your_api_key>
LIVEKIT_API_SECRET=<your_api_secret>
LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud

# Internally used environment variables
NEXT_PUBLIC_CONN_DETAILS_ENDPOINT=http://localhost:3000/api/connection-details
# NEXT_PUBLIC_APP_CONFIG_ENDPOINT=

OPENAI_API_KEY=sk-proj-

ASSEMBLYAI_API_KEY=

CARTESIA_API_KEY=sk_car_

# MCP_SERVER_URL=https://mcp.aci.dev/gateway/mcp?bundle_key=
MCP_SERVER_URL=

# Google OAuth
CLIENT_ID=.apps.googleusercontent.com
CLIENT_SECRET=GO

# Beyond Presence
BEY_API_KEY=

# Weaviate
WEAVIATE_REST_ENDPOINT=.gcp.weaviate.cloud
WEAVIATE_API_KEY=
